.container {
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  // padding: 1.5rem;

  transition: 0.4s;
  position: relative;

  p {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    transform: translateY(100px);
    transition: 0.3s 0.1s;
    margin: 1.5rem;
  }

  img {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 110%;
  }

  &:hover {
    p {
      transform: translateY(0px);
      z-index: 10;
    }
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      animation: show 1s;
      @keyframes show {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .loading {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 110%;
    width: 110%;
    background: white;
    z-index: 10;
  }
  .loading__image {
    height: 100px;
    animation: rotate 0.6s linear infinite;
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
