.icon {
  position: fixed;
  bottom: 1rem;
  right: 4rem;

  font-size: 3rem;

  animation: show 1s ease-in-out;

  cursor: pointer;
  color: var(--black);

  transition: 0.4s;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.3);
  }

  @keyframes show {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
    }
  }

  z-index: 999;

  @media (max-width: 768px) {
    font-size: 2.5rem;
    bottom: 0.5rem;
    right: 2rem;
  }
}
