.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, max(25vw, 385px));
  grid-gap: 2.8125rem;
  place-content: center;
}

.container__item {
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  // padding: 1.5rem;

  transition: 0.4s;

  p {
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    transform: translateY(100px);
    transition: 0.3s 0.1s;
    margin: 1.5rem;
  }

  &:hover {
    position: relative;
    p {
      transform: translateY(0px);
      z-index: 10;
    }
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.25);
      position: absolute;
      animation: show 1s;
      @keyframes show {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

.container__column {
  display: flex;
  flex-direction: column;
  gap: 2.8125rem;
}
