.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, max(25vw, 385px));
  grid-gap: 2.8125rem;
  place-content: center;
}

.container__column {
  display: flex;
  flex-direction: column;
  gap: 2.8125rem;
}
